<table>
  <tr>
    <th>ID</th>
    <th>Link</th>
    <th>Tags</th>
  </tr>
<% @req.each do |temp| %>
  <tr>
    <td><%= temp.id %></td>
    <td><%= temp.link %></td>
    <td><%= temp.tags %></td>
    <td><%= temp.image_name %></td>
  </tr>
<% end %>
</table>
<br />
<%= link_to 'Add new link', root_path %>